

.btn[level='primary'] {
  border-radius: 8px;
  color: none;
}

.btn[level='secondary'] {
  border-radius: 0; 
  border: none;      
  background: none; 
  color: var(--Color-Button-Button-Inverted-color-text-button-inverted-default, #363939);
}

.btn[level='secondary']:hover:not(:disabled) {
  border-radius: 0; 
  border: none;      
  background: none; 
  opacity: 0.9;
  color: var(--Color-Button-Button-Inverted-color-text-button-inverted-active, #57595A);
}

.btn[size='large'] {
    padding: 0 16px;
    gap: 8px;
    height: 48px;
    font-size: 16px;
    
}

.btn[size='small'] {
    padding: 0 8px;
    gap: 8px;
    height: 36px;
    font-size: 14px;
}


.btn.icon-only {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.btn.icon-only[size='large'] {
  width: 48px;
  height: 48px;
}

.btn.icon-only[size='small'] {
  width: 36px;
  height: 36px;
}

.background-color-primary{
  background-color: var(--Color-Button-Button-Primary-color-bg-button-primary-default, #363939);
  border: none;
}

.background-color-primary:hover:not(:disabled) {
  opacity: 0.9;
  background-color: var(--Color-Button-Button-Primary-color-bg-button-primary-active, #57595A);
  border: none;
  
}


.background-color-secondary {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--Color-Icon-Button-color-stroke-button-secondary, #363939);
}

.background-color-secondary:hover:not(:disabled) {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--Color-Icon-Button-color-stroke-button-secondary, #363939);
  opacity: 0.9;
}

.background-color-tertiary {
  background-color: var(--Color-Button-Button-Tertiary-color-bg-button-tertiary-default, #F9D262);
  color: var(--Color-Button-Button-Tertiary-color-text-button-tertiary-default, #363939);
  border: none;
}

.background-color-tertiary:hover:not(:disabled) {
  opacity: 0.9;
  background-color: var(--Color-Button-Button-Tertiary-color-bg-button-tertiary-active, #FFE393);
  color: var(--Color-Button-Button-Tertiary-color-text-button-tertiary-default, #363939);
  border: none;
}








.btn {
 
  cursor: pointer;
  transition: background 0.2s ease;
}





