

.intereses-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 21px;

}

.titulo-intereses {
    color: var(--Neutral-N800, #363939);
    font-family: Lora;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

a {
    color: var(--Color-Text-Color-text-link, #797A7B);

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; 
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.categorias-container {

  gap: 16px; 
  padding: 0 21px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

}

.white-btn ::ng-deep .btn {
  background-color: #fff;
}
.white-btn ::ng-deep .btn:hover:not(:disabled)  {
  background-color: #fff;
}


.card-account-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0 21px;
    box-sizing: border-box;
    gap: 16px;
    flex-wrap: wrap; 
}